
<h1>Hi <%= @user.first_name %></h1

<p>Welcome to the good place.</p>
<p>Find the best place to be in every city!</p>
<p>Share your experience by adding to the webiste your best bars and restaurants you know</p>

<p>See you soon on the good place</p>

<p>Ciao!</p>

<p>Camille - The Good Place</p>
