<h1>Hi <%= @user.first_name %></h1>

<p>Thank you a lot for your contribution to the platform!</p>
<p>Don't hesitate to talk about The Good Place to your friends </p>

<p>Ciao!</p>
<p>Camille - The Good Place</p>
